:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  font-weight: bold;
}

input {
  border: none;
  background-color: darkslategrey;
  color: darkturquoise;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
