:host {
  max-width: 1600px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'slotMachine balance'
    'payTable debug';
}

app-slot-machine-canvas {
  grid-area: slotMachine;
}

app-pay-table {
  grid-area: payTable;
  margin-top: 70px;
}

app-balance {
  grid-area: balance;
}

app-debug-menu {
  grid-area: debug;
}

app-slot-machine-canvas,
app-pay-table,
app-balance,
app-debug-menu {
  align-self: flex-start;
}
